.plant-card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #000000;  
  align-items: center;
  font-family: 'Lato';
  font-style: normal;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding-bottom: 1rem;
  margin: 1rem
}


.plant-card img {
  width: 100%;
}

.plant-card h5 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  max-width: 50%;
  width: 100%;
  padding-left: 1rem 
}

.plant-card p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  max-width: 100%;
  width: 100%;
  padding-left: 1rem;
}

.plant-card .strong {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  max-width: 50%;
}

.plant-card button {
  background-color: #B93857;
  border-radius: 9px;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  margin: auto;
  padding: .5rem 1rem
}

.plant-card .more-info {
  background-color: green;
  padding: .5rem 3rem
}

